In [1]:
import altair as alt
import pandas as pd

demo = pd.read_excel('/content/All Recipients By Zip w. Age and Gender-2023-01-25-10-44-30.xlsx', header=10)
# demo.columns = demo.iloc[0]
demo = demo.drop(demo.columns[[0,2]], axis=1)
demo = demo.iloc[:-6]
demo = demo.drop(['Mailing City','Mailing State/Province', 'Mailing Zip/Postal Code'], axis=1)
demo = demo.dropna()
demo['Age'] = demo['Age'].astype('int')
demo['Gender'] = demo['Gender'].astype('string')
demo[demo.Age > 0]
female = demo[demo['Gender'] == 'Female']
male = demo[demo['Gender'] == 'Male']
demo

/usr/local/lib/python3.9/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

     Age  Gender
0     64    Male
1     63  Female
2     89  Female
3     78  Female
4     75  Female
..   ...     ...
956   61    Male
957   68  Female
958   62  Female
959   74  Female
960   81  Female

[945 rows x 2 columns]

In [6]:
bins = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
demo['age_range'] = pd.cut(demo['Age'], bins)
demo['age_range'] = demo['age_range'].astype(str)
age_dist = demo.groupby(['Gender', 'age_range']).size().reset_index(name='Count')

# # Create a bar chart of age grouped by gender and age range
gender = alt.Chart(age_dist).mark_bar(opacity=0.7).encode(
    x='age_range',
    y='Count',
    color='Gender',
    tooltip='Count'
).properties(
    width=400,
    height=300
).interactive()

gender

gender.save("gender.html")